*{
  box-sizing: border-box;
}
body,
main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header,
footer{
  background-color: rgb(193,193,193);
  text-align: center;
}
main{
  margin: 2rem 0;
  gap: 350px;
}
table, th, td{
  border: 1px solid black;  
  padding: 2%;
  text-align: center;
}
td{
  word-wrap: break-word;
  background-color: rgb(244,244,244);
  font-size: large;
}
td:hover{
  background-color: rgba(244,244,244,0.3);
  cursor: pointer;
  
}
thead{
  background-color: rgb(51,51,51);
  color: whitesmoke;
  font-size: larger;
}
table {
  display:none;
  width: 95%;
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
form{
  display: flex;
  flex-direction: column;
  padding: 2%;
  font-size: large;  
}
fieldset{
  background-color: rgba(244,244,244,0.3);
}
input{
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  padding: 0.2rem 0.5rem;
  min-height: 1rem;
  font-size: 1rem;
  outline: none;
}
[name|="hasRead"],
[for|="yes"],
[for|="no"],
[type|="submit"]{
  width: unset;
  margin: 0.85rem 0 1rem;
  vertical-align: middle;
}
[type|="submit"]{
  width: 100%;
  padding: 0.5rem;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}
footer{
  padding: 0.5em;
  font-weight: bold;
}